.options {
  font-family: CeraB;
  margin-top: -988px;
  margin-left: 39px;
  /* width: 200px; */
}

.options p {
  font-family: CeraB;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--unnamed-color-3598db);
  letter-spacing: 0px;
  color: #979797;
}
.box {
  margin-top: -155px;
  margin-left: 200px;
  width: 350px;
  height: 130px;
  /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box; */
  /* background: #ffffff 0% 0% no-repeat padding-box; */
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}
.box-1 {
  /* margin-top: -145px;
  margin-left: 270px; */
  height: 30px;
  font-size: 23px;
  font-family: CeraB;
  color: #3598db;
  padding: 10px 10px 10px 10px;
}
.box-1 p {
  margin-top: -20px;
  margin-left: 190px;
  height: 30px;
  font-size: 13px;
  font-family: Metro;
  color: black;
}
.box-1 select {
  margin-top: 0px;
  margin-left: 15px;
  width: 300px;
  height: 40px;
  border: 1px solid var(--unnamed-color-3598db);
  border: 1px solid #3598db;
  border-radius: 7px;
}

.box-2 {
  margin-top: -133px;
  margin-left: 566px;
  width: 400px;
  height: 135px;

  /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box; */
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}
.box-2-1 {
  /* margin-top: -145px;
  margin-left: 660px; */
  height: 30px;
  font-size: 23px;
  font-family: CeraB;
  color: #3598db;
  padding-left: 20px;
  padding-top: 5px;
}
.box-2-1-1 {
  margin-top: 30px;
  margin-left: 20px;
  font: normal normal normal 13px/19px Metro;
  color: #979797;
}
.box-2-1-2 {
  margin-top: -38px;
  margin-left: 133px;

  font: normal normal normal 13px/19px Metro;
  color: #979797;
}
.box-2-1-3 {
  margin-top: -37px;
  margin-left: 240px;
  font: normal normal normal 13px/19px Metro;
  color: #979797;
}
.box-2-1-4 {
  margin-top: -37px;
  margin-left: 345px;
  font: normal normal normal 13px/19px Metro;
  color: #979797;
}
.box-3 {
  margin-top: 30px;
  margin-left: 207px;
  width: 350px;
  height: 150px;
  /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box; */
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}
.box-3-1 {
  margin-top: 10px;
  margin-left: 20px;
  height: 30px;
  font-size: 23px;
  font-family: CeraB;
  color: #3598db;
}

.box-3-1-1 {
  /* margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px; */
  padding: 20px 20px 20px 20px;
  font: normal normal normal 13px/19px Metro;
  color: #979797;
}

.box-3-1-2 {
  margin-top: -50px;
  margin-left: 160px;
  font: normal normal normal 13px/19px Metro;
  color: #979797;
}
.engagement {
  margin-top: -102px;
  margin-left: 650px;
  font: normal normal normal 13px/19px Metro;
  color: #3598db;
}
/* =========================================================================================== */

@media screen and (max-width: 650px) {
  .bread-crumbs_Mytools-recruiter,
  .p1,
  .status {
    display: none;
  }
  .options {
    margin-left: -15px;
    margin-top: 27px;
    /* position: relative;
    left: -98px;
    top: 20px; */
    font-size: 22px;
    display: flex;
    justify-content: space-between;
  }
  .box {
    margin-top: 30px;
    margin-left: 2px;
    width: 340px;
  }
  .box-1 p {
    margin-left: 184px;
  }
  .box-2 {
    margin-left: 10px;
    margin-top: 42px;
    width: 340px;
    height: 370px;
  }
  .box-2-1 {
    position: relative;
    top: 20px;
    padding-left: 20px;
    font-size: 22px;
  }
  .box-2-1-1 {
    position: relative;
    top: 40px;
    font-size: 18px;
  }
  .box-2-1-2 {
    position: relative;
    top: 100px;
    left: -114px;
    font-size: 18px;
  }
  .box-2-1-3 {
    position: relative;
    top: 160px;
    left: -220px;
    font-size: 18px;
    width: 200px;
  }
  .box-2-1-4 {
    position: relative;
    left: -324px;
    top: 220px;
    font-size: 18px;
  }
  .box-3 {
    margin-top: 45px;
    margin-left: 2px;
    height: 220px;
  }
  .box-3-1 {
    position: relative;
    top: 20px;
  }
  .box-3-1-1 {
    font-size: 18px;
  }
  .box-3-1-2 {
    top: 74px;
    left: -140px;
    position: relative;
    font-size: 18px;
  }
  .engagement {
    margin-top: 45px;
    margin-left: 75px;
    font-size: 18px;
  }
  .status {
    position: relative;
    top: 1195px;
    left: -1110px;

    width: 340px;
  }
  #status_head{
   top: 10px;
   position: relative;
    left: -16px;
  }
}
