@font-face {
  font-family: CeraB;
  src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face {
  font-family: CeraM;
  src: url(../fonts/CeraPRO-Medium.ttf);
}

@font-face {
  font-family: Metro;
  src: url(../fonts/metropolis/Metropolis-Regular.woff);
}

@font-face {
  font-family: MetroM;
  src: url(../fonts/metropolis/Metropolis-Medium.woff);
}

.profile-img {
  margin-top: 0px;
  margin-left: 39px;
  background: transparent url("img/Ellipse 148.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.profile-img h1 {
  font-family: CeraB;
  margin-top: -150px;
  margin-left: 180px;
}

.profile-img h1 p1 {
  font-family: Metro;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 100;
}

.profile-img h2 {
  font-family: Metro;
  margin-left: 180px;
  font-size: 15px;
  font-weight: 100;
}

.profile-img h4 {
  font-family: Metro;
  margin-left: 180px;
  font-size: 15px;
  font-weight: 100;
  color: #979797;
}

.button button {
  font-family: CeraB;
  color: #3598db;
  background-color: white;
  margin-top: -100px;
  margin-left: 1005px;
  width: 173px;
  height: 47px;
  border: 1px solid var(--unnamed-color-3598db);
  box-shadow: 0px 3px 6px #f5f2f2ee;
  border: 1px solid #3598db;
  border-radius: 8px;
  opacity: 1;
  font-size: 18px;
}

.status {
  font-family: CeraB;
  margin-top: 0px;

  margin-left: 985px;
  width: 250px;
  height: 1000px;
  /* background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box; */
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}

.status1 {
  padding-top: 14px;
  padding-left: 15px;
  margin-top: 14px;

  color: #333333;
}

.status-name {
  margin-top: 0px;
  margin-left: 40px;
  font-family: CeraB;
  font-size: 30px;
}

.status-name p {
  margin-top: 10px;
  margin-left: 0px;
  font-family: CeraM;
  font-size: 15px;
}

.status-name u {
  margin-top: 0px;
  margin-left: -20px;
  font-family: CeraB;
  font-size: 15px;
}

.displayname {
  margin-top: 10px;
  margin-left: 24px;
  font-family: Metro;
  font-size: 15px;
}

.employeement {
  margin-left: 80px;
  color: #979797;
}

.employeement p {
  margin-left: 10px;
  color: #3598db;
}

@media screen and (max-width: 650px) {
  .profile-img {
    margin-left: -25px;
  }
  .profile-img h1 {
    position: relative;
    font-size: 29px;
    width: 200px;
  }
  .profile-img h2 {
    position: relative;
    width: 200px;
    font-size: 19px;
  }
  .profile-img h4 {
    position: relative;
    width: 200px;
    font-size: 22px;
  }
  .button {
    position: relative;
    display: flex;
  }
  .button button {
    position: relative;
    margin-left: 8px;
    top: 134px;
  }

  /* ========================================= */

  /* .options {
    position: relative;
    left: -98px;
    top: 20px;
    font-size: 22px;
  }
  .box {
    position: relative;
    top: 195px;
    left: -256px;
    width: 340px;
  }
  .box-2 {
    position: relative;
    top: 357px;
    left: -651px;
    width: 340px;
    height: 370px;
  }
  .box-2-1 {
    position: relative;
    top: 20px;
    padding-left: 20px;
    font-size: 22px;
  }
  .box-2-1-1 {
    position: relative;
    top: 40px;
    font-size: 18px;
  }
  .box-2-1-2 {
    position: relative;
    top: 100px;
    left: -114px;
    font-size: 18px;
  }
  .box-2-1-3 {
    position: relative;
    top: 160px;
    left: -220px;
    font-size: 18px;
    width: 200px;
  }
  .box-2-1-4 {
    position: relative;
    left: -324px;
    top: 220px;
    font-size: 18px;
  }
  .box-3 {
    position: relative;
    width: 340px;
    top: 350px;
    left: -261px;
    height: 220px;
  }
  .box-3-1 {
    position: relative;
    top: 20px;
  }
  .box-3-1-1 {
    font-size: 18px;
  }
  .box-3-1-2 {
    top: 74px;
    left: -140px;
    position: relative;
    font-size: 18px;
  }
  .engagement {
    position: relative;
    top: 530px;
    left: -690px;
    font-size: 18px;
  }
  .status {
    position: relative;
    top: 1022px;
    left: -1110px;
    width: 340px;
  } */
  /* ===================================================== */
}
