@font-face {
    font-family: CeraB;
    src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face {
    font-family: CeraM;
    src: url(../fonts/CeraPRO-Medium.ttf);
}

@font-face {
    font-family: Metro;
    src: url(../fonts/metropolis/Metropolis-Regular.woff);
}

@font-face {
    font-family: MetroM;
    src: url(../fonts/metropolis/Metropolis-Medium.woff);
}

.database
{
  margin-top: 50px;
    margin-left: 100px;
top: 290px;
left: 218px;
font: normal normal normal 40px/19px CeraB;
color:black;
}
.database span{
    color:#3598DB; 
    font: normal normal normal 15px/19px MetroM;
}

.search
{
    margin-top: 50px;
    margin-left: 300px;
    width: 450px;
    height: 45px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 6px #00000029;
   border-radius: 31px;
   opacity: 1;
}
.search svg{
    margin-left:20px;

    margin-top:20px;
}
.add
{
margin-top: -40px;
margin-left: 780px;
width: 70px;
height: 35px;
background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
background: #3598DB 0% 0% no-repeat padding-box;
box-shadow: 1px 3px 10px #00000033;
border-radius: 8px;
opacity: 1;
}
.add button{
    margin-top:8px;
    margin-left: 10px;
    width: 30px;
    height: 18px;
    font: normal normal normal 15px/22px Metro;
    background-color: #3598DB;
    border: #3598DB;
    color: #FFFFFF;
  
}
.btn a{
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 15px;
        width: 75px;
    }
.toggle-button{
    color: #3598DB;
}
.sort
{
    margin-top: -70px;
    margin-left: 880px;  
    font: normal normal normal 15px/19px Metro;
 
}
.sort select{
    width: 170px;
    height: 31px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-3598db);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3598DB;
    opacity: 1;
}
.radio
{
     margin-top: 30px;
     margin-left: 880px;
     font: normal normal normal 15px/19px Metro;
}
.radio select{
  width: 187px;
  height: 31px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-3598db);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3598DB;
    opacity: 1;
}
.radio select option{
    color:#979797;
}
.radio input{
   
    width: 21px;
    height: 21px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-3598db);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3598DB;
    opacity: 1;
}
.qual,.qual1,.qual2,.qual3,.qual4
{
 margin-top: 0px;
 margin-left: 70px;
font: normal normal normal 15px/19px MetroM;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}
.qual select,input ,.qual1 select,.qual2 select, .qual3 select,.qual4 select
{

width: 254px;
height: 40px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
border: 1px solid var(--unnamed-color-3598db);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #3598DB;
opacity: 1;
}
.btn1{
    display: none;
}
.cont 
{
    margin-top:-400px;
    margin-left: 400px;
}
.cont .list
{
    
margin-top: 20px;
margin-left: -10px;
width: 950px;
height: 100px;
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 1px 3px 10px #00000033;
border-radius: 8px;
opacity: 1;
}
.list input {
    margin-top: 30px;
    margin-left: 20px;
    width: 21px;
    height: 21px;
    border: 1px solid var(--unnamed-color-3598db);
    border: 1px solid #3598DB;
    opacity: 1;
}

.list .added {
    margin-top: -30px;
    margin-left: 60px;
    font: normal normal normal 15px/24px Metro;

}
.list img {
    margin-top: -60px;
    margin-left: 190px;
}

.list .uploaded {
    margin-top: -60px;
    margin-left: 270px;
    font: normal normal normal 15px/24px Metro;

}
.list .added1 {
    margin-top: -50px;
    margin-left: 420px;
    font: normal normal normal 15px/24px Metro;

}
.list .added2 {
    margin-top: -50px;
    margin-left: 600px;
    font: normal normal normal 15px/24px Metro;
    color:red;
}
.list p{
     margin-top: -30px;
     margin-left: 722px;
     font: normal normal normal 15px/24px Metro;
color:#3598DB;
}
.less{
    display: none;
}
@media(max-width: 609px){
    .bread-crumbs_Mytools-recruiter{
        display: none;
    }
    .database{
    color: black;
    position: relative;
    left: -100px;
    top: -92px;
    font-size: 27px;
    font-weight: 500;
    }
    .database span{
    color: grey;
    font-size: 12px;
    position: relative;
    top: -10px;
    }
    .profileInNav {
    display: none;
    }
    .search{
                margin-top: -93px;
    margin-left: 0px;
    border-radius: 8px;
    height: 37px;
    width: 296px;
    }
    .search svg{
       height: 35px;
    position: relative;
        left: 285px;
    top: 0px;
    display: block;
    width: 40px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 1px;
    box-shadow: 2px 2px 5px rgb(192 192 192);
    }
    .svg1{
        display: none;
    }
    .svg2{
            font-size: 13px;
    position: relative;
    top: -25px;
    left: 32px;
    }
    .search i{
    left: 0px;
    position: relative;
    top: -51px;
    height: 38px;
    display: block;
    width: 40px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px;
    background-color: #3598DB;
    }
    .add{
            width: 55px;
    position: relative;
    left: -780px;
    top: 65px;
    display: flex;
    }
    .btn a{
            font-size: 10px;
    }
    .sort,.radio{
        display: none;
    }
    .navbar-links{
        display: none;
        position: relative;
    height: 480px;
    width: 354px;
    top: 93px;
     border:1px solid #3598DB;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links .qual{
        width: 100%;
        flex-direction: column;
    }
    .qual p{
            position: relative;
        top: 19px;
    left: -50px;

    }
    .qual select{
        position: relative;
        top: 10px;
    left: -50px;
    }
    .qual1 p{
        position: relative;
        top: 102px;
    left: -372px;
    }
    .qual1 input{
        position: relative;
        top: 93px;
    left: -372px;
    }
    .qual2 p{
        position: relative;
        top: 187px;
    left: -694px;
    }
    .qual2 select{
        position: relative;
        top: 175px;
    left: -694px;
    }
    .qual3 p{
        position: relative;
        top: 269px;
    left: -1016px;
    }
    .qual3 select{
        position: relative;
            top: 257px;
    left: -1018px;
    }
    .qual4 p{
        position: relative;
             top: 346px;
    left: -1341px;
    }
    .qual4 select{
        position: relative;
            top: 335px;
    left: -1342px;
     }
     .btn1{
        display: flex;
        position: relative;
        left: -1486px;
    top: 425px;
    width: 80px;
    height: 30px;
    background-color: #3598DB;
    border: 1px solid #3598DB;
     }
     .btn1 a{
        color: white;
        text-decoration: none;
        list-style: none;
        padding: 6px;
     }
    .navbar-links.active{
        display: flex;
    }
    .cont .list{
            width: 330px;
    height: 265px;
    margin-top: 48px;
    }
    .list{
        display: block;
        position: relative;
        top: 462px;
    left: -390px;
        height: 200px;
        width: 300px;
        border: 1px solid #3598DB;
    }
    .list input{
        display: none;
    }
    .list img{
        position: relative;
        top: 46px;
        left: -170px;
        height: 50px;
        width: 50px;
    }
    .uploaded{
        position: relative;
        top: 46px;
        left: -170px;
        font-size: 15px;
        white-space: nowrap;
    }
    .added{
            position: relative;
    top: 93px;
    left: -33px;
    }
    .added1{
            position: relative;
    left: -394px;
    top: 154px;
    white-space: nowrap;
    }
    .added2{
        position: relative;
    left: -574px;
    top: 203px;
    white-space: nowrap;    
}
    .list p{
            position: relative;
    left: -696px;
    top: 232px;
    white-space: nowrap;
    }
    .list p svg{
        top: 3px;
    position: relative;
    }
    .list .less{
            display: block;
    position: relative;
    cursor: pointer;
    left: -589px;
    top: 265px;
    }


}