.options {
  font-family: CeraB;
  margin-top: -950px;
  margin-left: 100px;
}

.options p {
  font-family: CeraB;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--unnamed-color-3598db);
  letter-spacing: 0px;
  color: #979797;
}
.search {
  margin-top: -140px;
  margin-left: 220px;
  width: 450px;
  height: 45px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 31px;
  opacity: 1;
}
.search svg {
  margin-left: 20px;

  margin-top: 20px;
}
.add {
  margin-top: -40px;
  margin-left: 700px;
  width: 70px;
  height: 35px;
  background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
  background: #3598db 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}
.add button {
  margin-top: 0px;
  margin-left: 10px;
  width: 30px;
  height: 18px;
  font: normal normal normal 15px/22px Metro;
  background-color: #3598db;
  border: #3598db;
  color: #ffffff;
}
.sort {
  margin-top: -70px;
  margin-left: 800px;
  font: normal normal normal 15px/19px Metro;
}
.sort select {
  width: 170px;
  height: 31px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid white;
  opacity: 1;
}
.radio {
  margin-top: 30px;
  margin-left: 800px;
  font: normal normal normal 15px/19px Metro;
}
.radio select {
  width: 187px;
  height: 31px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-3598db);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #3598db;
  opacity: 1;
}
.radio select option {
  color: #979797;
}
.radio input {
  width: 21px;
  height: 21px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-3598db);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #3598db;
  opacity: 1;
}
.files {
  margin-top: 30px;
  margin-left: 220px;
  width: 850px;
  height: 100px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}
.files input {
  margin-top: 30px;
  margin-left: 20px;
  width: 21px;
  height: 21px;
  border: 1px solid var(--unnamed-color-3598db);
  border: 1px solid #3598db;
  opacity: 1;
}
.files .added {
  margin-top: -30px;
  margin-left: 50px;
  font: normal normal normal 15px/24px Metro;
}
.files .filename {
  margin-top: -50px;
  margin-left: 160px;
  font: normal normal normal 15px/24px Metro;
}
.files .resume {
  margin-top: -50px;
  margin-left: 280px;
  font: normal normal normal 15px/24px Metro;
}
.files .internal {
  margin-top: -50px;
  margin-left: 350px;
  font: normal normal normal 15px/24px Metro;
}

.files img {
  margin-top: -50px;
  margin-left: 480px;
}
.files .uploaded {
  margin-top: -60px;
  margin-left: 560px;
  font: normal normal normal 15px/24px Metro;
}
.files .delete {
  margin-top: -50px;
  margin-left: 700px;
  font: normal normal normal 15px/24px Metro;
}
.btn {
  padding: 7px 12px;
  background-color: #3598db;
  color: #fff;
  border-radius: 8px;
  border: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 13% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 47%; /* Could be more or less, depending on screen size */
  border-radius: 11px;
}

/* The Close Button */
.close {
  color: #979797;
  float: right;
  font-size: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .p-class {
  font-family: Metro;
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
}
.modal-content p {
  font-family: Metro;
  color: #979797;
}
.right-column-1 a {
  color: #297fb8;
  float: right;
  margin-top: -30px;
  margin-right: 30px;
}
.modal-content .upload {
  margin-top: 20px;
  margin-left: 20px;
  color: #3598db;
  font: normal normal normal 20px/19px CeraB;
}
.modal-content .filetype {
  margin-top: 20px;
  margin-left: 20px;
  font: normal normal normal 15px/19px MetroM;
}
.modal-content .filetype select {
  margin-top: 10px;
  margin-left: 0px;
  width: 300px;
  height: 40px;
  border: 2px solid var(--unnamed-color-3598db);
  border: 2px solid #3598db;
  border-radius: 7px;
  opacity: 1;
}
.modal-content .filetype .box {
  margin-top: -220px;
  margin-left: 350px;
  width: 300px;
  height: 150px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px dashed var(--unnamed-color-707070);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #707070;
  border-radius: 8px;
  opacity: 1;
}
.modal-content .filetype .box svg {
  margin-top: 25px;
  margin-left: 10px;
  color: #979797;
}
.modal-content .filetype .box .drag {
  margin-top: -70px;
  margin-left: 100px;
  font: normal normal normal 18px/19px CeraB;
}
.modal-content .filetype .box .drag button {
  margin-top: 20px;
  margin-left: 30px;
  width: 122px;
  height: 35px;
  border: 1px solid var(--unnamed-color-3598db);
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #3598db;
  border-radius: 6px;
  opacity: 1;
}
.modal-content .filetype .a button {
  margin-top: 60px;
  margin-left: 100px;
  width: 132px;
  height: 47px;
  border: #3598db;
  background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
  background: #3598db 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}
@media screen and (max-width: 650px) {
  .sort,
  .cars,
  .radio input,
  .radio,
  .bread-crumbs_Mytools-recruiter {
    display: none;
  }
  .profile-img {
    position: relative;
    left: -112px;
  }
  .profile-img h2 {
    position: relative;
    width: 200px;
    font-size: 19px;
  }
  .options {
    position: relative;
    left: -98px;
    top: -46px;
    font-size: 22px;
    padding-left: 20px;
  }
  .search {
    position: relative;
    top: 174px;
    left: -224px;
    width: 370px;
  }
  .add {
    position: relative;
    top: 232px;
    left: -438px;
  }
  .add button {
    position: relative;
    width: 85px;
    height: 46px;
    font-size: 15px;
    margin-left: 0px;
  }
  .files-added {
    position: relative;
    top: 260px;
    left: -200px;
    margin-left: 10px;
  }
  .files {
    position: relative;
    width: 320px;
    height: 400px;
  }
  .files .filename {
    position: relative;
    margin-left: 191px;
  }
  .files .resume {
    position: relative;
    top: 81px;
    left: -79px;
  }

  .files .internal {
    position: relative;
    margin-left: 56px;
    top: 77px;
  }
  .files img {
    position: relative;
    margin-left: 53px;
    margin-top: 94px;
  }
  .files .uploaded {
    position: relative;
    margin-left: 199px;
    margin-top: -52px;
  }
  .files .delete {
    position: relative;
    margin-left: 32px;
    margin-top: 63px;
  }
  .files .download {
    position: relative;
    margin-left: 89px;
    margin-top: -40px;
  }
  .modal-content {
    position: relative;
    width: 300px;
    height: 600px;
  }
  .modal-content .filetype select {
    position: relative;
    width: 200px;
  }
  .modal-content .filetype .box {
    position: relative;
    top: 244px;
    left: -359px;
    width: 250px;
    height: 170px;
  }
  .modal-content .filetype .box .drag .a {
    position: relative;
    left: -37px;
  }
  .status {
    position: relative;
    top: 1746px;
  }
}
