@font-face {
  font-family: CeraB;
  src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face {
  font-family: CeraM;
  src: url(../fonts/CeraPRO-Medium.ttf);
}

@font-face {
  font-family: Metro;
  src: url(../fonts/metropolis/Metropolis-Regular.woff);
}

@font-face {
  font-family: MetroM;
  src: url(../fonts/metropolis/Metropolis-Medium.woff);
}

body {
  margin-left: 0%;
  margin-right: 0%;
}

.small_container {
  margin-left: 0%;
  margin-right: 0%;
}

.heading_dash {
  margin-left: 4%;
  margin-top: 5%;
}

.unactive-breadcrumb-link {
  color: #3598db;
}

.active-breadcrumb-link {
  color: #3598db;
  text-decoration: underline;
}

.bread-crumbs_Mytools-recruiter {
  margin-top: -30px;
}

.profile-img {
  margin-top: 25px;
  margin-left: 40px;
  background: transparent url("img/Ellipse 148.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.profile-img img {
  width: 130;
  height: 130;
  margin: 25px;
}

.profile-img h1 {
  margin-top: -150px;
  margin-left: 170px;
}

.profile-img h1 p1 {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 100;
}

.fa-pencil-square-o {
  width: 22px;
  height: 22px;
  color: #3598db;
}

.profile-img h2 {
  margin-left: 170px;
  font-size: 15px;
  font-weight: 100;
  color: #3598db;
}

.profile-img h4 {
  margin-left: 170px;
  font-size: 15px;
  font-weight: 100;
  color: #979797;
}

.button button {
  color: #3598db;
  background-color: white;
  margin-top: -100px;
  margin-left: 1100px;
  width: 173px;
  height: 47px;
  border: 1px solid var(--unnamed-color-3598db);
  box-shadow: 0px 3px 6px #f5f2f2ee;
  border: 1px solid #3598db;
  border-radius: 8px;
  opacity: 1;
}

.options {
  margin-top: 50px;
  margin-left: 70px;
}

.options p {
  margin-top: 15px;
  margin-left: 10px;
  color: var(--unnamed-color-3598db);
  letter-spacing: 0px;
  color: #979797;
  opacity: 1;
}

.options a {
  text-decoration: none;
  color: #979797;
}

.options-card {
  margin-top: -135px;
  margin-left: 230px;
  width: 500px;
  height: 200px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}

.status {
  width: 270px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
  padding: 10px;
  margin-left: 1120px;
  margin-top: -210px;
}

.status1 p {
  padding-top: 20px;
  color: #333333;
}

.status1 span {
  color: #979797;
  float: right;
  margin-top: -20px;
}

.status-name {
  font-size: 30px;
}

.fee {
  font-size: 30px;
}

.status-name p {
  margin-top: 10px;
  margin-left: 0px;
  font-size: 15px;
}

.status-name u {
  margin-top: 0px;
  margin-left: -20px;
  font-size: 15px;
}

.displayname {
  margin-top: 10px;
  font-size: 15px;
}

.fee-percent {
  margin-top: 10px;
  font-size: 15px;
}

.fee-percent {
  color: #333333;
  margin-left: 15px;
}

.displayname span {
  color: #51c46d;
  margin-left: 15px;
}

.fee span {
  color: #979797;
  font-size: 15px;
  margin-left: 15px;
}

.employeement {
  margin-left: 40px;
  color: #979797;
}

.employeement p {
  margin-left: 10px;
  color: #3598db;
}

.details {
  margin-left: 40px;
  color: #979797;
}

.details p {
  padding-top: 7px;
  margin-left: 10px;
  color: #3598db;
}

.left-side-container-1 {
  margin-top: -1080px;
  margin-left: 210px;
}

.recent-activity {
  width: 850px;
  height: 450px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 12px;
  opacity: 1;
  padding: 30px;
  padding-top: 30px;
}

.mainHeading {
  font-size: 24px;
  color: black;
}

.mainHeading-left {
  color: #979797;
  font-size: 18px;
  float: right;
  margin-top: -20px;
  margin-right: 10px;
}

.recent-content-1 {
  margin-top: 50px;
  margin-left: 30px;
  background: #e0fadc 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.recent-content-1 .fa-suitcase {
  color: #51c46d;
  width: 27px;
  height: 30px;
  margin-top: 18px;
  margin-left: 18px;
}

.recent-content {
  margin-left: 110px;
  margin-top: -60px;
}

.heading-1 {
  color: #333333;
  font-size: 18px;
  font: normal normal medium 18px/19px Metropolis;
  font-weight: bold;
}

.recent-content span {
  float: right;
  margin-top: -28px;
  font-size: 16px;
  color: #979797;
}

.recent-content-content {
  color: black;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.recent-content-2 {
  margin-top: 40px;
  margin-left: 30px;
  background: #d3eeff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.recent-content-2 .fa-envelope {
  color: #3598db;
  width: 27px;
  height: 30px;
  margin-top: 18px;
  margin-left: 18px;
}

.recent-content-content-1 {
  color: black;
  font-size: 16px;
  padding-top: 10px;
}

.recent-content-content-2 {
  color: black;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 20px;
}

.recent-content-3 {
  margin-top: 40px;
  margin-left: 30px;
  background: #ffc73c3f 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.recent-content-3 .fa-phone {
  color: #ffbd06;
  width: 27px;
  height: 30px;
  margin-top: 18px;
  margin-left: 18px;
}

.mail-box {
  width: 850px;
  height: 720px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 12px;
  opacity: 1;
  padding: 30px;
}

.box-content {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.box-content-left-arrow {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  z-index: 1;
  margin-left: 10px;

}

.box-content-right-arrow {
  height: 20px;
  width: 20px;
  transform: rotate(270deg);
  position: absolute;
  right: 0px;
  bottom: 20px;
}

.box-content-similar {
  display: flex;
  /* justify-content: space-between;
  flex-wrap: wrap; */
  list-style: none;
  cursor: pointer;
}

.box-content-rounded {
  margin-bottom: 40px;
  position: relative;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 4px 8px #00000033;
  opacity: 1;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 46px;
}

.box-content-rounded:nth-of-type(7) {
  margin-right: 20px;
}

.bcr1,
.bcr2,
.bcr3,
.bcr4,
.bcr5,
.bcr6,
.bcr7 {
  position: absolute;
}

.bcr1,
.bcr2,
.bcr3,
.bcr5,
.bcr6,
.bcr7 {
  top: 70px;
  left: 15px;
}

.bcr4 {
  top: 70px;
  left: 5px;
}

.bcr5 {
  top: 70px;
  left: -5px;
}

.mail-box .box-content .active {
  background-color: #3598db;
}

.mail-box .box-content .active .fa {
  color: white;
}

.box-content-rounded p {
  width: 27px;
  height: 27px;
  color: #3598db;
  margin-top: 23px;
  margin-left: 20px;
}

.box-content-rounded a {
  color: #3598db;
  text-decoration: none;
}

.box-content-rounded-span {
  display: flex;
}

.box-content-rounded-span p {
  padding-left: 20px;
  padding-top: 20px;
  color: #979797;
  font-size: 16px;
  padding-right: 55px;
  padding-bottom: 20px;
}

.mail-content {
  margin-top: 20px;
  margin-left: 10px;
}

.right-content-1 {
  float: right;
  color: #3598db;
  margin-right: 40px;
  font-size: 16px;
}

.right-content-2 {
  float: right;
  margin-top: 30px;
  margin-right: -70px;
  color: #979797;
  font-size: 16px;
}

.button-1 {
  margin-top: 10px;
}

.next-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #3598db;
  border-radius: 8px;
  opacity: 1;
  color: #3598db;
  padding: 7px 15px;
  float: right;
}

@media (min-width: 1200px) and (max-width: 1400px) {

  .status {
    margin-left: 950px !important;
  }

  .recent-activity {
    margin-left: -20px;
    width: 730px;
  }

  .options {
    margin-left: 20px;
  }

  .button button {
    margin-left: 1000px;
  }

  .mail-box {
    margin-left: -20px;
    margin-top: 20px;
    width: 730px;
  }

  .box-content-rounded {
    margin-right: 35px;
  }

  .recent-activity {
    margin-top: 20px;
  }
}

@media screen and (max-width: 609px) {
  .bread-crumbs_Mytools-recruiter,
  .status,
  .options .p1

  /* .sortbyText,
    .search_list_1,
    .select-col-label */
    {
    display: none;
  }

  .profile-img {
    margin-top: -136px;
    margin-left: -52px;
  }

  .profile-img h1 {
    margin-top: -130px;
  }

  .profile-img h2,
  .profile-img h3 {
    margin-top: -10px;
  }

  .profile-img img {
    width: 103px;
    height: 111px;
    margin-left: 57px;
  }

  .button button {
    color: white;
    background-color: #3598db;
    margin-top: 37px;
    margin-left: 40px;
    font-size: 19px;
    width: 153;
    height: 40;

  }

  .options {
    margin-top: 35px;
    margin-left: -18px;
    display: flex;
    justify-content: space-between;
  }

  .options p {
    margin-top: 0px;
    margin-left: 10px;
    padding: 20px;
    white-space: nowrap;
    font-size: 19px;
  }

  .left-side-container-1 {
    margin-top: 30px;
    margin-left: 8px;
    width: 355px;
    white-space: nowrap;
  }

  .recent-activity {
    width: fit-content;
    height: fit-content;
    padding: 15px;
  }

  .recent-content span {
    margin-top: -22px;
  }

  .heading-1 {
    margin-left: -25px;
    margin-top: 20px;
  }

  .recent-content-1 {
    margin-top: 20px;
  }

  .recent-content-content {
    white-space: pre-wrap;
    font-size: 19px;
    width: 300px;
    margin-top: 32px;
    margin-left: -100px;
  }

  .recent-content-content-1 {
    margin-top: 10px;
    font-size: 19px;
    margin-left: -94px;
    white-space: pre-wrap;
  }

  .recent-content-content-2 {
    margin-left: -94px;
    white-space: pre-wrap;
    font-size: 19px;
  }

  .recent-content-3 {
    margin-left: 17px;
  }

  .mail-box {
    margin-top: 130px;
    width: 350px;
    height: fit-content;
    padding: 15px;
    position: relative;
  }

  .box-content-rounded {
    position: relative;
    margin-right: 30px;
    width: 55px;
    height: 55px;
  }

  /* .box-content-rounded-2 {}

  .box-content-rounded-2,
  .box-content-rounded-1 {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
  } */

  .box-content-rounded-text {
    position: absolute;
    top: 70px;
    left: 15px;
  }

  .bcr1,
  .bcr2,
  .bcr3,
  .bcr4,
  .bcr5,
  .bcr6,
  .bcr7 {
    position: absolute;
  }

  .bcr1,
  .bcr2,
  .bcr3,
  .bcr5,
  .bcr6,
  .bcr7 {
    top: 70px;
    left: 15px;
  }

  .bcr4 {
    top: 70px;
    left: 5px;
  }

  .bcr5 {
    top: 70px;
    left: -5px;
  }

  .box-content-rounded p {
    width: 22px;
    height: 22px;
  }


  .scroll-test {
    overflow-x: scroll;
    margin-top: -120px;
    /* width: 350px; */
  }

  .sub {
    margin-left: 10px;
    white-space: pre-wrap;
  }

  .sub1 {
    margin-left: 10px;
    white-space: pre-wrap;
  }

  .sub2 {
    margin-left: 10px;
  }

  .next-btn {
    position: relative;
    top: -29px;
  }
}