@font-face {
    font-family: CeraB;
    src: url(../fonts/CeraPro-Bold.ttf);
}
@font-face {
    font-family: MetroB;
    src: url(../fonts/metropolis/Metropolis-Bold.woff);
}
  @font-face {
    font-family: CeraM;
    src: url(../fonts/CeraPRO-Medium.ttf);
  }
  @font-face {
    font-family: Metro;
    src: url(../fonts/metropolis/Metropolis-Regular.woff);
  }
  @font-face {
    font-family: MetroM;
    src: url(../fonts/metropolis/Metropolis-Medium.woff);
  }
  @font-face {
    font-family: MetroS;
    src: url(../fonts/metropolis/Metropolis-ExtraBold.woff);
  }
  @font-face {
    font-family: MetroMI;
    src: url(../fonts/metropolis/Metropolis-MediumItalic.woff);
  }

.main_body{
    margin-left:200px;
}
.head_txt{
    color: #333333;
    font-size: 30px;
    font-family: CeraM;
}

#m1{
    color: #297FB8;
    font-size: 18px;
    font-family: Metro;
}
.sub_1{
    color: #3598DB;
    font-size: 14px;
    font-family: Metro;
}
.sub_11{
  color: #3598DB;
  font-size: 14px;
  font-family: Metro;
}
.sub_2{
  color: #3598DB;
  font-size: 14px;
  font-family: Metro;
}
.box_1{
    margin-bottom: 10px;
}
#k1{
  color: #333333;
  font-size: 16px;
  font-family: Metro;
}
#k2{
  color: #979797;
  font-size: 14px;
  font-family: Metro;
  line-height: 0.5;
}
.addFilesMyTasks1 {
    display: flex;
    right: 2%;
    box-shadow: 1px 3px 8px #00000033;
    border-radius: 8px;
    background-color: #3598DB;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid #3598DB;
    align-items: right;
    width: 81px;
    height: 40px;
    margin-left: 980px;
    margin-bottom: 50px;
  }




  .singleTasks_containerDiv {
    margin-top: 40px;
  }
  
  .singletask_myTasks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 3px 10px #00000033;
    border-radius: 8px;
    background: #fff;
    padding:20px;
    color: #333333;
    margin-bottom: 20px;
    height: 100px;
    width: 1140px;
  }
  .button-div_myTasks{
    display: flex;
    flex-direction: column;
  }
  .sortByMyTasks {
    color: #979797;
    margin: 0px 15px;
  }
  .recentMyTasks {
    color: #8bd0ffb8;
    margin: 0px 10px;
  }
  .searchButton{
    margin-left: 250px;
  }
  .inputSearch_12{
    width: 50px;
  }
  .input-field1{
    width:585px;
   
      box-shadow: 3px 3px 5px 0px rgb(238 238 238);
      border-radius: 31px;
      flex-basis: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
  
  }
  .check{
    border: "1px solid #3598db;" 
  }
  

@media screen and (max-width:650px) {
 
  .bread-crumbs_Mytools-recruiter{
    display: none;
}
  .head_txt{
    position: relative;
    right:172px;
    font-size: 40px;
  }
 
  .sub_2{
    position:relative;
    left:-167px;
    font-size: 16px;
  }
  
.col-5{
  display: none;
}
.input-field1{
  position: relative;
  left: -201px;
  width: 375px;
}
.add {
  /* width: 55px; */
  position: relative;
  left: -893px;
  /* top: 65px; */
  /* display: flex; */
}
.searchButton {
  position: relative;
  margin-left: 48px;
}
.singletask_myTasks{
  display: block;
    position: relative;
  width: 330px;
    height: fit-content;
    margin-top: 48px;
    left:-167px;
    font-size: 19px;
}
.check{
  position: relative
  top:10px;
}
.button-div_myTasks{
  position: relative;
  top: 23px;
  align-items: center;
}
#k2{
  position: relative;
    font-size: 16px;
    top: 11px;
    left: 16px;
}
.sub_1{
  position: relative;
    font-size: 16px;
    top: -8px;
    left: 3px;
}
.sub_11{
 
  position: relative;
    font-size: 16px;
    top: -8px;
    left: -170px;
}

.addFilesMyTasks1 {
  position: relative;
  margin-left: -170px;
  top: 181px;
}
}

  