.container_Calendar {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.left_Calendar_main {
  flex-basis: 60%;
}
.right_Calendar_main {
  flex-basis: 20%;
}
.left_Calendar_main,
.right_Calendar_main {
  padding: 12px;
  box-shadow: 1px 6px 12px #00000033;
}
.selection-body_Calendar_main {
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.month_year-selection-body,
.create-event-body {
  position: relative;
}
.month_year-selection-body::before {
  content: "\25BC";
  font-size: 14px;
  position: absolute;
  color: #0ebeff;
  right: 55%;
  top: 10px;
  pointer-events: none;
  z-index: 2;
}
.month_year-selection-body::after {
  content: "\25BC";
  font-size: 14px;
  position: absolute;
  color: #0ebeff;
  right: 10px;
  top: 10px;
  pointer-events: none;
}
.month-selection-body,
.year-selection-body,
.allStatus-selection-body {
  border: 1px solid #3598db;
  border-radius: 7px;
  background-color: white;
  min-width: 120px;
  color: #3598db;
  font-size: 14px;
  padding: 5px 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  position: relative;
}
.status-selection-body::after {
  content: "\25BC";
  font-size: 14px;
  position: absolute;
  color: #0ebeff;
  right: 10px;
  top: 10px;
  pointer-events: none;
}
.selection-body_Calendar_main,
.month_year-selection-body {
  position: relative;
}

.main-container_Calendar {
  width: 100%;
}
.weekDays-main-container_Calendar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  color: #3598db;
  font-size: 16px;
}
.dates_weekDays-main-container_Calendar {
  width: 100%;
}
.dates_weekDays-main-container_Calendar table {
  text-align: left;
  width: 100%;
  margin-top: 20px;
}
.right_Calendar_main {
  padding: 40px 30px;
}
.weekDays_rowForDates_week {
  padding: 14px 10px 94px 30px;
  color: #333333;
  cursor: pointer;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  position: relative;
}
.weekDays_rowForDates_week p {
  position: absolute;
  top: 50%;
  left: 10%;
}
.weekDays_rowForDates_week p span {
  width: 34px;
  padding: 7px 0px;
  margin: 0px 3px;
  color: #8c60eb;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #8c60eb4f;
}
.grid_timing-schedule-right-calendar {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 20% repeat(2, 1fr);
}
.grid_timing-schedule-right-calendar span {
  grid-column: 1/-1;
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  padding: 40px 10px;
  color: #979797;
}
.grid_timing-schedule-right-calendar span:nth-child(1) {
  grid-row: 1/2;
}
.grid_timing-schedule-right-calendar span:nth-child(2) {
  grid-row: 2/3;
}
.grid_timing-schedule-right-calendar span:nth-child(3) {
  grid-row: 3/4;
}
.grid_timing-schedule-right-calendar span:nth-child(4) {
  grid-row: 4/5;
}
.grid_timing-schedule-right-calendar span:nth-child(5) {
  grid-row: 5/6;
}
.card-Item_timing-schedule.first-child {
  grid-row: 2/4;
  grid-column: 2/3;
  background-color: #d3eeff;
  padding: 20px;
}
.card-Item_timing-schedule.second-child {
  grid-row: 4/6;
  grid-column: 3/4;
  background-color: #e84bc43a;
  padding: 20px;
}
.card-Item_timing-schedule p {
  margin: 3px 0px;
}
.schedule_right_Calendar-heading {
  font-size: 27px;
  font-weight: 500;
}
.btn {
  /*  created add event button */
  width: 129px;
  height: 45px;
  background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
  background: #3598db 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
  margin-top: -12px;
  /* margin-left: 240px; */
  border: none;
  color: white;
  position: relative;
  padding: 5px 13px;
}
.scroll {
  margin: 4px, 4px;
  padding: 4px;

  width: 350px;
  overflow: auto;
  white-space: nowrap;
}
@media screen and (max-width: 500px) {
  .left_Calendar_main {
    flex-basis: 95%;
    width: 100%;
  }

  .right_Calendar_main {
    flex-basis: 95%;
    margin-top: 40px;
    padding: 30px 10px;
    width: 100%;
  }
  .selection-body_Calendar_main {
    padding: 3px;
    justify-content: space-evenly;
  }
  .year-selection-body {
    margin: 3px 0px;
  }
  .dates_weekDays-main-container_Calendar table {
    width: 100%;
  }
  .weekDays_rowForDates_week {
    padding: 20px 5px;
  }
  .weekDays_rowForDates_week p {
    top: 50%;
    left: 5%;
  }
  .weekDays_rowForDates_week p span {
    width: 27px;
    font-size: 10px;
  }
  .grid_timing-schedule-right-calendar {
    grid-template-columns: 30% repeat(2, 1fr);
    overflow-x: scroll;
    width: 100%;
  }
  .card-Item_timing-schedule {
    padding: 20px 10px;
  }
  .schedule_right_Calendar-heading {
    font-size: 30px;
    font-weight: 500;
  }
  .month_year-selection-body::after {
    content: "\25BC";
    font-size: 14px;
    position: absolute;
    color: #0ebeff;
    right: 27%;
    pointer-events: none;
  }
  .month_year-selection-body::before {
    content: "\25BC";
    font-size: 14px;
    position: absolute;
    color: #0ebeff;
    right: 27%;
    top: 65%;
    pointer-events: none;
    z-index: 2;
  }
  .left_Calendar_main {
    padding: 5px;
  }
}
@media screen and (max-width: 650px) {
  .searchButton {
    margin-left: 24px;
  }
}
