*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.profileSection-dashboard_recruiter{
	display: none;
}
.categories{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.cat1{
	display: block;
	width: 100px;
	border-radius: 50px;
	border: 1px solid grey;
	box-shadow: 1px 1px 5px lightgrey;
	cursor: pointer;
}
.cat1 p{
	display: flex;
	align-items: center;
	justify-content: center;
}
#details{
	display: flex;
	margin-left: 50px;
	flex-direction: row;
	flex-wrap: wrap;
}
#details h1{
	font-size: 20px;
	color: black;
	padding-top: 5px;
}
